$white: #fff;
$black: #333333;
body{
  overflow-x:hidden;
  height: 100%;
  padding: 0px !important;
  margin: 0px !important;

}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-size: 25px;
  font-family: Gotham;
  margin: 0;
  padding: 0;
}

h2{
  font-family: Gotham;
  span{
    font-family: Gotham;
  }
}
// overriding bootstrap default container & col
.container{
  padding: {
    top: 0px;
    left: 0px;
  }
}
