


.page{
  height: 100%;
  width: 100%;
  position: relative;

}
#home{
  @include box-sizing();
}


.page #home{
  position: relative;
  background: {
    image:url(' https://images.unsplash.com/photo-1414919823178-e9d9d0afd0ac?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=459c51b6a8a30aec4b77a14b979dc572');
    size: 100% 100%;
    attachment: fixed;
    repeat: no-repeat;
  }
  &::before{
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: hsla(0%, 0%, 0%, 0.4);

  }
  color: $white;
  .col-md-6, .col-md-12{
  @include padding;
  }
}
.main_content{
  display: -moz-flex;
display: -webkit-flex;
display: -ms-flex;
display: flex;
position: relative;
max-width: 100%;
z-index: 1;
-moz-align-items: center;
-webkit-align-items: center;
-ms-align-items: center;
align-items: center;
-moz-justify-content: center;
-webkit-justify-content: center;
-ms-justify-content: center;
justify-content: center;
text-align: center;
-moz-transition: all 1s ease 0s;
-webkit-transition: all 1s ease 0s;
-ms-transition: all 1s ease 0s;
transition: all 1s ease 0s;
}

.inner{
  overflow-x: hidden;
    width: 40rem;
    max-width: 100%;
    padding: 3.4375rem 2.75rem;
}

.inner #divider01{
  width: 40px;
}
.inner #text01 {
    color: #FFFFFF;
    font-family: Gotham;
    font-size: 2.75em;
    line-height: 1.125;
    font-weight: 400;
}

#icons01 li{
  display: inline-block;
}
#icons01 li a{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  color: $white;
  text-decoration: none;
  font-smooth: auto;
  font-size: 18px;
  line-height: 40px;
  @include transition(all 0.5s $ease-in-out-back);
  &:hover{
    background-color: hsla(100%, 100%, 100%, 0.2);
  }
}
.inner p {
  display: block;
  font-family: Gotham;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-size: 16px;
line-height: 2;

}

.inner {
  ul {
    display:block;
  list-style-type: disc;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  }
}

#icons01 li{
  list-style-type:none;
  display: inline;
}

.chevron{
  padding-top: 20%;
  a {
    font-size: 18px;
    text-decoration: none;
    color: $white;
    @include animation-name(pulse);
    animation-duration: 5s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
  
  }
}

#particle {
  // background-color: hsla(0%, 0%, 0%, 0.753);
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
.home .title {
  padding-top: 20%;
  h1 {
    font-size: 30px;
    color: $white;
    padding-left: 10%;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: 700;
    letter-spacing: 2px;
  }
  span{
    padding-left: 20%;
    letter-spacing: 2px;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    &::after{
      content:"";
      position: absolute;
      bottom:15%;
      left: 100%;
      width: 50px;
      height: 3px;
      background-color: $white;
    }
  }
}

#home nav{
  ul {
    list-style-type: none;
    padding-top: 15%;
    padding-left: 5%;
    li{
      display: inline-block;
      font-family: 'Open Sans';
      font-size: 15px;
      padding: {
        top:0px;
        bottom:3px;
        right: 0px;
        left: 0px;
      }
      a{
        display: block;
        text-decoration: none;
        color: $white;
        padding-bottom: 10px;
        @include underline-from-center();
      }
    }
  }
}


}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}
