.page .home{
  background: {
    image: url('../img/background.jpg');
    size: cover;
    background-attachment: fixed;
    repeat: no-repeat;
  }
  color: $white;
  .col-md-6, .col-md-12, .col-xs-12, .col-xs-6{
    @include padding;
  }
}
.page .home .container{
  .col-md-12{
    .nav_bar{
      @include clearfix;
      padding-top: 60px;
      .menu-icon{
        width: 30px;
        height: 30px;
        text-align: center;
        cursor: pointer;
      }

      .menu-icon .menu{
        width: 100%;
        height: 2px;
        background-color: $white;
        margin-top: 10px;
        position: relative;
        &::after{
          content: "";
          top:8px;
          left: 0;
          width: 100%;
          height: 2px;
          position: absolute;
          background-color: $white;
        }
        &::before{
          content: "";
          top:-8px;
          left: 0;
          width: 100%;
          height: 2px;
          position: absolute;
          background-color: $white;
        }
      }
    }
  }

}
