// @import "compass";
@font-face {
  font-family: 'Helvetica Neue';
  src:  url('HelveticaNeueBold.ttf') format('ttf'),
}

@font-face {
  font-family: Gotham;
  src:  url('../fonts/GothamRoundedBold_21016.ttf');
  
}

@font-face {
  font-family: Oduda;
  src:  url('../fonts/Oduda-Bold-Demo.otf');
}
@font-face {
  font-family: Bariolr;
  src:  url('../fonts/bariol_regular-webfont.ttf');
}
@font-face {
  font-family: Bariol_Regular;
  src:  url('../fonts/Bariol_Regular.otf');
}


@import 'https://fonts.googleapis.com/css?family=Rasa:400,500,700';
@import 'https://fonts.googleapis.com/css?family=Baloo+Chettan';
@import "../bourbon/bourbon";
@import "_mixin.scss";
@import "_global.scss";
@import "../hover/scss/hover.scss";
@import "_header.scss";
@import "_menu.scss";
@import "../sass-mediaqueries/_media-queries.scss";
@import "_screen.scss";
@import "_social_menu.scss";
@import "_about_me.scss";
@import "_as_seen_in.scss";
@import "_covers.scss";
@import "_blog.scss";
@import "_get_in_touch.scss";
@import "_footer.scss";
@import "lib/css-hamburgers/_sass/hamburgers/hamburgers.scss";
@import "_twitter.scss"
